Maintainer: Anton Van Assche
Summary: BashPass is a command-line based password manager written in Bash. It uses GPG to encrypt/decrypt the files where the passwords are stored . This means the passwords are 100% stored locally, so you don't have to trust a third party to store your passwords.
Name: bashpass
Version: 3.2
Description: A command-line based password manager written in Bash.
License: MIT
Architecture: all
Provides: bashpass
Priority: optional
Depends: bash, gnupg2, git, wl-clipboard, xclip
Section: utils
Package: bashpass
